<html xmlns:th="https://www.thymeleaf.org">

<head>
	<title>Register - Employee View</title>
	<meta name="viewport" content="width=device-width, initial-scale=1"> 

    <link rel="stylesheet" type="text/css" href="/styles/master.css">
    <link rel="stylesheet" type="text/css" href="/styles/employeeDetail.css">

    <script type="text/javascript" src="/scripts/master.js" defer></script>
    <script type="text/javascript" src="/scripts/employeeDetail.js" defer></script>
</head>

<body>

	<div class="header">
		<h1 class="primary-message">Employee View</h1>
    </div>
    
	<div id="main" class="main">
        <div id="error" th:class="${#strings.isEmpty(errorMessage)} ? hidden : ''">
			<h4 id="errorMessage" class="error-message" th:text="${errorMessage}"></h4>
		</div>
        <form action="/" method="PUT" onsubmit="return validateSave();" class="inputContent">
            <div id="employeeDetailWapper">
                <table id="employeeDetails">
                    <tbody>
                        <tr class="hidden">
                            <td>ID:</td>
                            <td>
                                <input id="employeeManagerId" type="hidden" th:text="${!employee.isEmpty} ? ${employee.managerId} : ''" />
                            </td>
                        </tr>
                        <tr id="employeeIdRow" class="hidden">
                            <td class="label">Employee ID</td>
                            <td>
                                <input id="employeeId" type="text" th:value="${!employee.isEmpty} ? ${employee.id} : ''" disabled/>
                            </td>
                        </tr>
                        <tr>
                            <td class="label">First Name:</td>
                            <td>
                                <input id="firstName" type="text" th:text="${!employee.isEmpty} ? ${employee.firstName} : ''"/>
                            </td>
                        </tr>
                        <tr>
                            <td class="label">Last Name:</td>
                            <td>
                                <input id="lastName" type="text" th:text="${!employee.isEmpty} ? ${employee.lastName} : ''"/>
                            </td>
                        </tr>
                        <tr>
                            <td class="label">Password:</td>
                            <td>
                                <input id="password" type="text" th:text="${employee.password}"/>
                            </td>
                        </tr>
                        <tr>
                            <td class="label">Confirm Password:</td>
                            <td>
                                <input id="confirm" type="text" th:text="${employee.password}"/>
                            </td>
                        </tr>
                        <tr id = "employeeTypeWrapper" th:class="${employee.isInitialEmployee} ? hidden : ''">
                            <td class="label">Employee Type:</td>
                            <td>
                                <select id="employeeType" class="select">
                                    <option th:each="employeeType : ${employeeTypes}" 
                                            th:value="${employeeType.classification}" 
                                            th:text="${employeeType.displayLabel}" 
                                            th:selected="${employee.classification == employeeType.classification}">
                                    </option>
                                </select>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div>
                <button id="saveButton" type="submit" class="submit">Save</button>
            </div>
        </form>
        
        <div id="signOutWrapper">
            <img id="signOutImage" src="/images/Sign-Out.png" alt="Sign Out" height=30px width=50px/>
        </div>
        <div id="employeeSavedAlertModal" class="modal animate-opacity-show">
            <div class="modal-content">
                <div class="container gray-blue">
                    <h1>
                        <span>Employee</span><br />
                        <span>Saved</span>
                    </h1>
                </div>
            </div>
        </div>
    </div>
</body>