<html xmlns:th="https://www.thymeleaf.org">

<head>
	<title>Register - Shopping Cart</title>
	<meta name="viewport" content="width=device-width, initial-scale=1"> 

	<link rel="stylesheet" type="text/css" href="/styles/master.css">
	<link rel="stylesheet" type="text/css" href="/styles/productListing.css">

	<script type="text/javascript" src="/scripts/master.js" defer></script>
	<script type="text/javascript" src="/scripts/shoppingCart.js" defer></script>
</head>

<body>

	<div class="header">
		<h1 class="primary-message">Shopping Cart</h1>
	</div>

	<input id="transactionId" class = "hidden" th:value="${transactionId}"></div>
		
	<div id="main" class="main">
		<div id="error" th:class="${#strings.isEmpty(errorMessage)} ? hidden : ''">
            <h4 id="errorMessage" class="error-message" th:text="${errorMessage}"></h4>
		</div>
		
		<div class="productsWrapper">
		
		<!-- Definitely copied over from Product Listing, need to develop alongside javascript
			to get the shopping cart page to list the products if they are in the cart, 
			and only list the quantity in the cart -->

			<ul id="productsListing" class="products">
				<li th:each="transactionEntry : ${transactionEntries}">
					<input type="hidden" name="productId" th:value="${transactionEntry.productId}" />
					<span class="productLookupCodeDisplay" th:text="${transactionEntry.lookupCode}">lookupCode</span>
					<br /><span class="productCountDisplay" th:text="${transactionEntry.quantity}">0</span>
					<br /><span class="productCreatedOnDisplay" th:text="${transactionEntry.createdOn}">12/31/1999</span>
					<br /><span class="productPriceDisplay" th:text="${transactionEntry.price}">Price</span>
				</li>
			</ul>

			<!-- <ul id="productsListing" class="products">
				<li th:each="product : ${products}">
					<input type="hidden" name="productId" th:value="${product.id}" />
					<span class="productLookupCodeDisplay" th:text="${product.lookupCode}">lookupCode</span>
					<br /><span class="productCountDisplay" th:text="${product.count}">0</span>
					<br /><span class="productCreatedOnDisplay" th:text="${product.createdOn}">12/31/1999</span>
					<br /><span class="productNameDisplay" th:text="${product.name}">Name</span>
					<br /><span class="productPriceDisplay" th:text="${product.price}">Price</span>
				</li>
			</ul> -->
		</div>
        
        <!-- placing these button prototypes whose function can be implemented 
            as part of the Shopping Cart Item Actions Functionality task -->
		<h3 id="totalDisplay">Total: </h3>
			<button id="checkoutButton" type="button" class="action">Checkout</button>
		<br /> <br />
		<button id="clearCartButton" type="button" class="action">Clear Cart</button>
		<br /> <br />
		<button id="continueShoppingButton" type="button" class="action">Continue Shopping</button>
		<br /> <br />        
	</div>

	<div class="hidden">
		<input type="checkbox" id="isRefreshed" class="hidden">
		<script type="text/javascript">
			window.onunload = function() {
				const isRefreshedElement = document.getElementById("isRefreshed");

				if(!isRefreshedElement.checked) {
					isRefreshedElement.checked = true;
				} else {
					isRefreshedElement.checked = false;
					location.reload();
				}
			}
		</script>
	</div>

	<div class="footer">
		<img id="signOutImage" src="/images/Sign-Out.png" alt="Sign Out" class="footer" />
	</div>
		
</body>

</html>