<html xmlns:th="https://www.thymeleaf.org">

<head>
	<title>Sign In</title>
	<meta name="viewport" content="width=device-width, initial-scale=1"> 

	<link rel="stylesheet" type="text/css" href="../static/styles/master.css">
	<link rel="stylesheet" type="text/css" href="../static/styles/signIn.css">

	<script type="text/javascript" src="/scripts/master.js" defer></script>
</head>

<body>
	<div class="header">
		<h1 class="primary-message">Sign In</h1>
	</div>

	<div id="main" class="main">
		<div id="error" th:class="${#strings.isEmpty(errorMessage)} ? hidden : ''">
			<h4 id="errorMessage" class="error-message" th:text="${errorMessage}"></h4>
		</div>

		<div class="signInCredentialsWrapper">
			<table id="signInCredentials">
				<tbody>
					<tr>
						<td class="label">Employee ID:</td>
						<td>
							<input id="employeeID" type="text" class="update" />
						</td>
					</tr>

					<tr>
						<td class="label">Password:</td>
						<td>
							<input id="password" type="text" class="update" />
						</td>
					</tr>
				</tbody>
			</table>
		</div>

		

		<div>
			<br />
			<button id="signInButton" type="button" class="action">Sign In</button>
		</div>

	</div>
		
</body>

</html>
