<head>
	<title>Transaction Summary</title>
	<meta name="viewport" content="width=device-width, initial-scale=1"> 

	<link rel="stylesheet" type="text/css" href="/styles/master.css">
	<link rel="stylesheet" type="text/css" href="/styles/transactionSummary.css">

	<script type="text/javascript" src="/scripts/master.js" defer></script>
	<script type="text/javascript" src="/scripts/transactionSummary.js" defer></script>

</head>

<body>

	<div class="header">
		<h1 class="primary-message">Transaction Summary</h1>
	</div>

	<div id="main" class="main">
		<div id="error" th:class="${#strings.isEmpty(errorMessage)} ? hidden : ''">
			<h4 id="errorMessage" class="error-message" th:text="${errorMessage}"></h4>
		</div>

		<form method="post" actions="">

				<div id="productsListing" class="products">
					<div th:each="transactionEntry : ${transactionEntries}">
						<input type="hidden" name="productId" th:value="${transactionEntry.productId}" />
						<b for="name">Product: </b><span class="productLookupCodeDisplay" th:text="${transactionEntry.lookupCode}">lookupCode</span><br/>
						<b for="name">Quantity: </b><span class="productCountDisplay" th:text="${transactionEntry.quantity}">0</span><br/>
						<b for="name">Price: </b><span class="productPriceDisplay" th:text="${transactionEntry.price}">Price</span><br/><br/>
						
					</div>
				</div>

				<b for="name" style=>Total Price: </b><br/><span class="productPriceDisplay" th:text="${TotalPrice}">0</span><br/>
				<b for="name" style=>Number of Products: </b><br/><span class="productNum" th:text="${ProductNum}">0</span><br/>

			<div>
			
		</form>
		

	</div>
	
	<div>
		<button id="okayButton" type="button" class="action">Okay</button>
	</div>
		
</body>

</html>