<head>
	<title>Transaction Summary</title>
	<meta name="viewport" content="width=device-width, initial-scale=1"> 

	<link rel="stylesheet" type="text/css" href="/styles/master.css">
	<link rel="stylesheet" type="text/css" href="/styles/transactionSummary.css">

	<script type="text/javascript" src="/scripts/master.js" defer></script>
	<script type="text/javascript" src="/scripts/transactionSummary.js" defer></script>

	<script>

		var quantity;
		
		function incrementValue(){
		
			quantity = parseInt(document.getElementById('number').value, 10);
			   quantity = isNaN(quantity) ? 0 : quantity;
			quantity++;
			document.getElementById('number').value = quantity;
					
		}
		
		function decrementValue(){
		
			quantity = parseInt(document.getElementById('number').value, 10);
			quantity = isNaN(quantity) ? 0 : quantity;
			if(quantity > 0)
				quantity--;
			else
				quantity = 0;
			document.getElementById('number').value = quantity;
		} 

		function updatePrice(){

			

		}

	</script>

</head>

<body>

	<div class="header">
		<h1 class="primary-message">Transaction Summary</h1>
	</div>

	<div id="main" class="main">
		<div id="error" th:class="${#strings.isEmpty(errorMessage)} ? hidden : ''">
			<h4 id="errorMessage" class="error-message" th:text="${errorMessage}"></h4>
		</div>

		<form method="post" actions="">

				<b for="name">Product</b><b for="name" style="margin-left: 175px">Price</b><b for="name" style="margin-left: 30px">Total Price</b>
				<br/><br/>


				<ul id="productsListing" class="products">
					<div th:each="transactionEntry : ${transactionEntries}">
						<input type="hidden" name="productId" th:value="${transactionEntry.productId}" />
						<span class="productLookupCodeDisplay" th:text="${transactionEntry.lookupCode}">lookupCode</span>
						<br /><span class="productCountDisplay" th:text="${transactionEntry.quantity}">0</span>
						<br /><span class="productPriceDisplay" th:text="${transactionEntry.price}">Price</span>
					</div>
				</ul>
				<input type="button" onclick="decrementValue()" value="-" />
				<input type="text" id="number" value="1" maxlength="1" size="1" style="text-align: center;" />
   				<input type="button" onclick="incrementValue()" value="+" />

				<label id="number" style="margin-left: 70px">10</label>
				<label id="number" style="margin-left: 65px">10</label>
				

			<div>
			
		</form>
		

	</div>
	
	<div class="footer">
		<button id="okayButton" type="button" class="action">Okay</button>
	</div>
		
</body>

</html>