div.header{
	padding-bottom: 20px;
}

div.productsWrapper{
	padding-top: 10px;
}

.primary-message{
	display: inline;
	text-align: center;
}

.productsWrapper {
	display: inline-block;
}

.products {
	margin: 0 0 2em 0;
	list-style-type: none;
	padding: 20px 0px 0px 0px;
	width: 15em;
}

.products li {
	cursor: pointer;
	background-color: #EEE;
	margin: .5em;
	padding: .3em;
	height: 4.5em;
	border-radius: 4px;
	text-align: left;
}

.products li:hover {
	color: #607D8B;
	background-color: #DDD;
	left: .1em;
}

a.button {
	text-decoration: none;
}

.buttonWrapper{
	padding-top: 0px;
}

#returnToCartButton{
	float: right;
}

#returnToCartButton:hover {
	cursor: pointer;
    color: #ffffff;
    background-color: #000000;
}

#addToCartButton:hover {
	cursor: pointer;
    color: #ffffff;
    background-color: #000000;
}

#numberOfItems{
	width: 25px;
}

.productPriceDisplay{
	visibility: visible;
}

.productCountDisplay,
.productCreatedOnDisplay{
	visibility: visible;
}

#createButton{
	padding-top: 10px;
}