div.header{
	padding-bottom: 20px;
}

div.productsWrapper{
	padding-top: 10px;
}

#quantitySelect{
    width: 25;
}

.primary-message{
	display: inline;
	text-align: center;
}

.productsWrapper {
	display: inline-block;
}

.products {
	margin: 0 0 2em 0;
	list-style-type: none;
	padding: 20px 0px 0px 0px;
	width: 12em;
}

.products li {
	cursor: pointer;
	background-color: #EEE;
	margin: .5em;
	padding: .3em;
	border-radius: 4px;
	text-align: left;
}

a.button {
	text-decoration: none;
}

.buttonWrapper{
	padding-top: 0px;
}

#returnToCartButton{
	float: right;
}

#returnToCartButton:hover {
	cursor: pointer;
    color: #ffffff;
    background-color: #000000;
}

#addToCartButton:hover {
	cursor: pointer;
    color: #ffffff;
    background-color: #000000;
}

.quantitySelect{
	width: 25px;
}

.productPriceDisplay{
	visibility: visible;
}

.productCountDisplay,
.productCreatedOnDisplay{
	visibility: visible;
}